

.main{
    width: 1200px; height: auto; margin: 0 auto;
    .first-aprt{width: 100%;
         h1{
           width: 100%; height: 46px; padding: 30px 0 35px 0; font-size: 24px; line-height: 46px;color: #666;
           .ma_box{
               float: right;height: 46px; width: 600px;
               .box_top{
                   text-align: center;
                   p{
                       width: 33.3%;height: 19px;float: left;
                   }
                   p:first-child{
                    color: #FD8000;
                   }
               }
               .box_top+div{
                   width: 100%; height: 16px;
                   img{
                       width: 100%;height: 16px; 
                   }
               }
           }
       } 
    }
    #list{
        width: 1198px;
        height: 38px;
        line-height: 38px;
        border: 1px solid #e4e4e4;
        background: #f2f2f2;
        overflow: hidden;
        color: #666;
        font-size: 14px;
        input{
                vertical-align: middle;
                margin-right: 10px;
        }
        em{
            font-style: normal;
        }
        span:first-child{
            margin: 0 100px 0 15px;
            width: 59px; height: 19px;
        }
        p{
            float: right;
            span:first-child{
                margin-right: 60px;
            }
            span:nth-child(2){
                margin-right: 20px;
            }
            span{
                display: inline-block;
                width: 140px;
                text-align: center;
            }

        }
    }
    .third-part{
        padding: 20px 0 15px 0;
        input{
            margin-right: 10px;
        }
        .a2{
            text-decoration: underline;font-size: 16px;
        }
        a{
            margin-right: 10px;
        }
        .span1{
            margin-right: 10px; font-size: 16px;color: #999; margin-left: 10px;
        }
        img{
            vertical-align: middle; margin-left: 10px;
        }
        .kefu{
            border: 1px solid #ccc;border-radius: 5px; color: #999;
        }


    }
    .cart_details{
        width: 1180px; height: 82px;overflow: hidden; border:1px solid #ccc; margin-top: 10px;
        padding: 25px 10px;
        input:first-child{
                float: left;float: left;
                margin: 33px 20px 0 0;
        }
        dl{
            width: 530px; height: 82px;float: left;
            
            img{
                width: 110px; height: 82px;float: left;
            }
            p{
                line-height: 22px; margin-left: 20px; float: left;
            }
        }
        ul{
            float: left;
            input{
                width: 32px; height: 20px;  border: 1px solid #ccc; margin-right: 0;display: inline-block;vertical-align: middle; text-align: center; border-left: 0;border-right: 0;
            }
            h3{
                border: 1px solid #e4e4e4;
                color: #999;
                margin-top: 15px;
                cursor: pointer; 
                border-radius: 5px;
                width: 70px; height: 22px; text-align: center; float: right;
            }
            h1{
                position: absolute;right: 0; bottom: 0;
            }        }
        em{
                font-style: normal;font-size: 14px; color: #FD8000;
        }
        ul li{
            width: 120px;
            float: left;
            margin-left: 25px;
            height: 82px;
            overflow: hidden;
            text-align: right;
            position: relative;

        }
        li:nth-child(2){
             span{
                width: 16px; height: 20px; border: 1px solid #ccc;display: inline-block;text-align: center;
            }
        }
    }
    .del{
        width: 100%; line-height: 30px; height: 30px;
        a{
            text-decoration: underline;font-size: 14px;
        }
    }
    .collect{
        width: 1138px;
        border: 1px solid #e4e4e4;
        background: #f2f2f2;
        overflow: hidden;
        padding: 20px 30px;
        height: 42px;
        color:#666;
        font-size: 14px;
        span{
            margin-right: 30px;
        }
        em{
                font-size: 28px;
                color: #FD8000;
                margin-left: 5px;
                font-style: normal;
        }
        a{
            float: right;
            width: 120px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            font-size: 16px;
            color: #fff;
            background: #FD8000;
            margin-left: 15px;
            cursor: pointer;
        }
    }
    .hot_sale{
        width: 1200px; height: 312px; margin: 0 auto; margin-bottom: 20px;
        h2{
            font-size: 18px;color: #666; height: 50px; line-height: 50px;
        }
        li:first-child{
            margin-left: 0;
        }
        li{ 
            float: left;width: 260px; height: 301px;margin-left: 25px;border: 1px solid #ccc;padding: 5px;
            img{
                width: 260px; height: 195px;display: block; margin-left: 0;
            }
            h2{
            margin-bottom: 10px;color: #333;font-size: 14px;color: #666; height: 14px; line-height: 14px;
            }
            p{
                color: #41ccb4;
                span{
                    float: right;color: #666;
                }
            }
            a{
                text-decoration: underline;
            }
            em{
                width: 100%;height: 1px; border: none; border-top: 1px dashed #ccc;display: block; margin: 5px 0;
            }
        }
    }
}