#header-w{
	width: 100%; height: 21px;
}
#header{
	width: 1200px; height: 21px; margin: 0 auto; line-height: 21px; font-size: 12px
}
.header-login{
	float: left;
}
.header-login>span{
	margin-left: 15px
}
#header ul li{float: left; margin-left: 20px;}
#header a{
	    color: #666;
}
#header a:hover{
	color: #41ccb4
}
.header-menu{
	float: right;
}
.header-menu>img{
	margin-top: 2px;
}
.header-menu span{
	color: #F5363E;
}
#operat-w{
	width: 100%; height: 85px;
}
.cityList {
    width: 500px;
    height: auto;
    overflow: hidden;
    padding-bottom: 20px;
    border: 1px solid #e8e8e8;
    position: absolute;
    top: 84.5px;
    left: 162px;
    font-size: 14px;
    color: #333;
    background: #fff;
    display: none;
    z-index: 10000;
    a{
    	margin-left: 17px;
	    margin-right: 17px;
	    margin-top: 20px;
	    display: inline-block;
	    color: #333;
    }
}
#operat{
	width: 1200px; height: 100%; margin:12px auto;position: relative;
}
#operat .logo{
	display: inline-block; float: left;width: 142px; height: 70px;position: absolute;
    bottom: 0;
}
#operat .city{
	width: 62px; height: 46px; display: inline-block; float: left; margin-top: 38px; margin-left: 162px
}
#operat .city span{
	font-size: 14px;
}
#operat .city p{
	width: 60px;
    border: 1px solid #e8e8e8;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    color: #999;
    cursor: pointer;
}
#operat .city+div{
	width: 500px;
    height: auto;
    overflow: hidden;
    margin: 19px auto 19px 224px;
    float: left;
    position: relative;
}
#operat .city+div  p span{
	margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
}
#operat .city+div .sel{
	color: #41CCB4;
}
.search {
    width: 496px;
    height: 32px;
    border: 2px solid #41ccb4;
    margin-top: 10px;
    position: relative;
}
#keywords{
	width: 86%;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    color: #ccc;
    border: none;
    outline: medium;
    margin-top: 9px;
    padding-left: 15px;
    border-right: 1px solid #e8e8e8;
}
.seinput{font-size: 18px;
    color: #41CCB4;
    border: none;
    background: none;
    margin-top: 4px;
    float: right;
    margin-right: 7px;
    outline: medium;
    cursor: pointer;}
#operat .city+div+a{
	position: absolute;bottom: 14px;right:30px;display: block;
}
#menu-Nav-w{
	width: 100%;
    height: auto;
	border-bottom: 2px solid #41CCB4;
}
#menu-Nav{
	width: 1200px;  
    height: auto; margin: 0 auto;
    position:relative;
}
#menu-Nav .menul{
	width: 1200px;
    height: 34px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    img{
        position: absolute;right: 0;top: 0px;
    }
}
#menu-Nav .menul li{
    padding: 0 20px;
    font-size: 15px;
    color: #fff;
    float: left;
    line-height: 34px;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}
#pullDown{
	width: 190px; height: 533px; position: absolute; left: 0;z-index: 10; background: rgb(255, 255,255 );
	clear: both;
	padding-top: 13px;
	img{
		display: inline-block; margin-left: 6px;position: relative; top: 2px
	}
	li{
		height: 38px; padding-left: 50px; line-height: 37px; font-size: 14px; 
	}
	a{
		color: #999;
	}
	

}
#pullDown:hover{
	background: rgb(242, 242, 242);
}
#pullDown:hover li{
	background: rgb(242, 242, 242);
}
#pullDown li:hover{
		box-shadow: 2px 0 8px rgba(200,200,200,0.9);
		background: white;
		border-left: 4px solid #41CCB4;
}
.pudownList{
	width: 710px; height: 547px; position: absolute; left: 190px;z-index: 100;
	background: white;
    opacity: 1;
   display: none;
    .pudownList1{
    	position: absolute;left: 0 ;top: 0; padding-top: 25px; background: white; padding-left: 20px;
    }
    h3{
    	font-size: 14px; font-weight: 100; margin-bottom: 20px;
    }
    h3 a{
    	color:#999;
    }
    h3 a:hover{
    	color: #41CCB4; 
    }
	
    .first-part li {
    	width: 120px;
	    line-height: 30px;
	    background-color: #f3f3f3;
	    text-align: center; float: left; margin: 5px;
    }
    .second-part li { float: left; margin: 0 10px 30px 0px;  text-align: center; 
    }
    .second-part p{
    	line-height: 25px;
    }
    .second-part li div{
    	border: 1px solid #ccc; padding:0 5px;
    }
    .ecolor610{
    	color:#41CCB4;
    }

}
#banner-w{
	width: 100%; height: 580px;
	background: #F2f2f2;
}
#banner{
	width: 100%;height: 580px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    #banner_img li{height: 400px; position: relative;
    	img{
    		height: 400px; 
    	}
    }
    #banner_img{
    	height: 400px;
    }
    .circles{position: absolute;left: 700px; bottom: 200px;
    	
    	.cir{
    		width: 20px;height: 20px; background: white; border-radius: 50%; float: left; margin-left: 20px;
    	}
    	.cur{
    		background: #41CCB4;
    	}
    }
    .child{
    	width: 1200px; margin: 0 auto; height: 400px;
    }
    .child1{
    	
    }

}

.right-pic{
	position: absolute;right: 0;top: 0; width: 260px; height: 402px
}
.right-pic .lp{
	position: absolute;bottom: 0
}
img{
	border: none;display: block;
}
.banner-bottom{
	position: absolute; top: 400px; width: 100%; height: 160px; padding: 10px 0
}

.banner-bottom li{float: right;margin-left: 10px}
.right-pic img:hover{
	transform:translate(-5px);
	transition: all 0.5s; 
}
.banner-bottom img:hover{
	transform:translate(-3px);
	transition: all 0.5s; 
}
#container-w{
	width: 100%; height: auto;
	#container{
		width: 1200px; height: auto; margin:0 auto; 

		.title{
				width: 1200px; height: 51px; position: relative;
				.line{
					width: 100%; height: 1px; border-bottom: 1px dashed #d7d7d7; position: absolute; top: 25px;
				}
				p{
					background: #fff;
				    padding: 0 30px;
				    position: absolute;
				    line-height: 36px;
				    font-size: 24px;
				    left: 40%;
				    color: #333;
				}
		}
	 	h1{
		text-align: center;
	    font-size: 18px;
	    color: #999;
	    padding-top: 20px;
	}
	h2{
		text-align: center;
	    color: #999;
	    padding: 10px 0 15px 0;
	    font-size: 14px;
	    font-weight: normal;
	}
	p a{
		    word-wrap:break-word;
		    color: #333;
		    font-weight: bold;
		    
	}
	p{	
		font-size: 24px;
		text-align: center;
		display: inline-block;
	}
		p a:hover{
			color: #41CCB4;
		} 
	}
}
.fineReading_pic li a:first-child{
	width: 370px;height: 370px; display: block;overflow: hidden;
}
.fineReading_pic li{
	overflow: hidden;
	float: left;
	margin-right: 45px;
	height: 534px;
	width: 370px;
}
.fineReading_pic li:last-child{
	margin-right: 0;
}
.fineReading_pic img{
	width: 370px; height: 370px;
}
.fineReading_pic img:hover{
	transform: scale(1.1);
	transition: all 1s; 
}
#puh3{ display: block;overflow: hidden;
		width: 710px; clear: both; margin-top: 250px;
}

#recommend-w{
	width: 100%; height: 746px; background: #F2f2f2;overflow: hidden;padding-top: 25px;
	#recommend{
		width: 1200px; height: 746px;
		
	}
	.title{
				width: 1200px; height: 51px; position: relative; margin: 0 auto;
				.line{
					width: 1200px; height: 1px; border-bottom: 1px dashed #d7d7d7; position: absolute;top: 25px;
				}
				p{
					background: #F2f2f2;
				    padding: 0 30px;
				    position: absolute;
				    line-height: 36px;
				    font-size: 24px;
				    left: 45%;
				    color: #333;
				    text-align: center;
				}
				span{
					display: block; text-align: center; font-size: 18px; color: #ccc;
				}
		 margin-bottom: 40px;
	}
	.brand_con {
		height: 633px; width:1200px; overflow: hidden; margin: 0 auto;
	}
	.brand_con .brand_nav li{
		    float: left;
		    position: relative;
		    height: 49px;
		    margin-right: 15.2px;
	}
	.brand_con .brand_nav li a{
		width: 84px;
	    height: 38px;
	    border: 1px solid #d7d7d7;
	    text-align: center;
	    line-height: 38px;
	    background: #fff;
	    display: inline-block;
	}
	.more{
		width: 84px;
	    height: 38px;
	    border: 1px solid #d7d7d7;
	    text-align: center;
	    line-height: 38px;
	    background: #fff;
	    display: inline-block;
	}
	.current a{
		border: 1px solid #41CCB4;
	}
	.current img{
		width: 20px;
	    height: 9px;
	    position: absolute;
	    bottom: 1px;
	    left: 50%;
	    margin-left: -10px;
	    bottom: 1.5px;
	}
}
.brand_bottom{
		width: 1200px; height: 564px; position: relative; 
		.brand_left{
			width: 920px; height: 564px; position: absolute;left: 0;top: 0;margin-top: 20px;			
		}	
		.brand_right{
			width:280px; height: 540px; position: absolute;right: 0;top: 20px; background: white;
			img{
				width:280px; height: 228px; position: absolute;left: 0 ;top:0;
			}
		.brand_lunbo{
			width: 280px; height: 228px;
		}
		.brand_word{
			width: 235px;height: 282px; overflow: hidden; margin: 0 auto;
			h1{
				font-size: 16px;
			    color: #333;
			    overflow: hidden;
			    padding-top: 20px;
			    font-weight: 400;
			    a{
				    float: right;
				    width: 60px;
				    text-align: center;
				    height: 19px;
				    line-height: 19px;
				    border: 1px solid #d7d7d7;
				    border-radius: 5px;
				    font-size: 13px;
				    color: #999;
				    margin-right: 1px;
				}
			}
			
		}
		.brand_a{
				width: 109px;
			    text-align: center;
			    height: 40px;
			    line-height: 40px;
			    background: #E42141;
			    color: #fff;
			    font-size: 16px;
			    font-weight: bold;
			    margin-top: 20px;
			    display: inline-block;

			}
	.brand_a2{
		width: 109px;
	    text-align: center;
	    height: 40px;
	    line-height: 40px;
	    color: #fff;
	    font-size: 16px;
	    font-weight: bold;
	    margin-top: 20px;
	    display: inline-block;
	    background: #FF9900;
    	margin-left: 10px;
	}
	}
}
.brand_bottom .brand_left li{
				width: 280px;
			    height: 258px;
			    background: #fff;
			    float: left;
			    margin: 0 26px 24px 0;
			    position: relative;
			    a:first-child{
			    	width: 280px;height: 150px; display: block;
			    	img:first-child{
			    		width: 280px;height: 150px;
			    	}
			    	span{
			    		width: 280px; height: 150px; position: absolute;left: 0 ;right: 0;background: white;z-index: 20;opacity: 0;
			    	}
			    	span:hover{
			    		opacity: 0.2;
			    	}
				}
				float: left;
				
}

.attract{
	width: 42px;height: 42px; position: absolute; right: 0; top: 0;
}
.brand-div{
		width: 240px; height: 48px; padding: 0 20px; margin-top: 25px; position: relative;
		img{
			width: 96px; height: 48px; display: block;float: left;
		}
		span{
			width: 96px; height: 48px; position: absolute;left: 0;right: 0;opacity: 0; margin-left: 20px; background: white;
		}
		span:hover{
			opacity: 0.2
		}
		div{
			float: right; width: 144px; height: 48px; position: absolute; right: 0;
			p{
				font-size: 16px;
			    font-weight: bold;
			    padding-bottom: 8px;
			    color: rgb(102, 102, 102)
			}
			a{
				color: #999;
				margin-right: 20px;
			}
			a:last-child{
				margin-right: 0;
			}
			a:hover{
				color: #41CCB4;
			}
		}
}

#product-w{
	width: 100%;height: auto; background: #fff;
	#product{
		width: 1200px; height: 806px; margin: 0 auto;
		.title{
				width: 1200px; height: 51px; position: relative; margin: 0 auto;
				.line{
					width: 1200px; height: 1px; border-bottom: 1px dashed #d7d7d7; position: absolute;top: 25px;
				}
				p{
					background: white;
				    padding: 0 30px;
				    position: absolute;
				    line-height: 36px;
				    font-size: 24px;
				    left: 45%;
				    color: #333;
				    text-align: center;
				}
				span{
					display: block; text-align: center; font-size: 18px; color: #ccc;
				}
		 margin-bottom: 40px;
		}
		.brand_con {
				height: 734px; width:1200px; overflow: hidden; margin: 0 auto;
			}
			.brand_con .brand_nav li{
				    float: left;
				    position: relative;
				    height: 49px;
				    margin-right: 15.2px;
			}
			.brand_con .brand_nav li a{
				width: 84px;
			    height: 38px;
			    border: 1px solid #d7d7d7;
			    text-align: center;
			    line-height: 38px;
			    background: #fff;
			    display: inline-block;
			}
			.more{
				width: 84px;
			    height: 38px;
			    border: 1px solid #d7d7d7;
			    text-align: center;
			    line-height: 38px;
			    background: #fff;
			    display: inline-block;
			}
			.current a{
				border: 1px solid #41CCB4;
			}
			.current img{
				width: 20px;
			    height: 9px;
			    position: absolute;
			    bottom: 1px;
			    left: 50%;
			    margin-left: -10px;
			    bottom: 1.5px;
			}
			.product_bottom{
				width: 1200px; height: 665px; position: relative;
				margin-top: 10px;
				.products{
					width: 912px; height: 665px; position: absolute;left: 0;top: 0;
					li{
						span:first-child{
							width: 288px; height: 216px; position: absolute;left: 0;top: 0; background: white;opacity: 0;

						}
						span:first-child:hover{
							opacity: 0.2
						}
						width: 288px;
					    float: left;
					    margin: 0 16px 25px 0;
					    height: 307px;
					    position: relative;
					    img{
					    	width: 288px;
						    height: 216px;
						    border: 1px solid #fff;
					    }
					    h3 a{
					    	font-size: 16px;
    						padding-top: 10px;
    						color: #999;
    						font-weight: 100
					    }
					    h3 a:hover{
					    	color: #41CCB4;
					    }
					    .product-span{
					    	font-size: 14px;
						    color: #41CCB4;
						    padding: 5px 0 8px 0;
						    display: block;
						    b{
						    	font-size: 20px;	
						    }
					    }
					    .product-span+a{
					    	color: #999;
    						text-decoration: underline;
    						font-size: 14px;
					    }
					    .product-span+a:hover{
					    	color: #41CCB4;
					    }

					}
				}
				.product_right{
					float: right;
				    width: 286px;
				    height: 638px;
				    border: 1px solid #d7d7d7;
				    a{
				    	color: #666;
				    }
				    .product_box{
				    	width: 235px;
    					margin: 0 auto;
    					h1{
    						font-size: 16px;
						    color: #333;
						    overflow: hidden;
						    padding-top: 20px;
						    a{
						    	float: right;
							    width: 60px;
							    text-align: center;
							    height: 19px;
							    line-height: 19px;
							    border: 1px solid #d7d7d7;
							    border-radius: 5px;
							    font-size: 13px;
							    color: #999;
							    margin-right: 1px;
							    color: #999;

						    }

    					}
    					.line3{
    						border-bottom: 1px dashed #d7d7d7;
    						margin: 8px 0 15px 0;
    					}
    					.hot_kinds a{
    						width: 70px;
    						line-height: 36px;
    						height: 36px;
    						display: inline-block;
    					}
    					.hot_kinds a:hover{
    						color: #41CCB4;
    					}
    					.hot_about li a{
    						overflow: hidden;
						    line-height: 38px;
						    width: 100%;
						    font-size: 14px;
						    em{
						    	text-decoration: underline;font-style: normal;
						    }
						    span{
						    	float: right;
						    }
    					}
    					.hot_about li a:hover{
    						color: #41CCB4;
    					}
				    }
				}
			}
	}
}
.products-box{
	width: 1200px; height: 665px;position: absolute;left: 0; top: 0; background: white;
	em,h1{
		font-style: normal;font-weight: normal;
	}
	a{
		font-weight: normal;font-style: normal;
	}
}
.join{
	width: 1200px; height: 80px; margin: 0 auto;overflow: hidden;
}
#coupon-w{
	width: 100%; height: 331px; margin-top: 10px;
	#coupon{
		width: 1200px; height: 331px; margin: 0 auto;position: relative;
		h1{
			
		    font-size: 18px;
		    color: #333;
		    border-left: 3px solid #41CCB4;
		    padding-left: 10px;
		    margin-top: 20px;
		    height: 21px;
		    line-height: 21px;
		    a{
		    	float: right;
			    width: 60px;
			    text-align: center;
			    height: 19px;
			    line-height: 19px;
			    border: 1px solid #d7d7d7;
			    border-radius: 5px;
			    font-size: 13px;
			    color: #999;
			    margin-right: 1px;
		    }
		}
		.coupons{
			width: 100%;height: 290px;
			li{
				width: 260px;
			    height: 128px;
			    border-right: none;
			    overflow: hidden;
			    position: relative;
			    float: left;
			    margin-left: 15px;
			    margin-top: 15px;
			    font-size: 0;
			    border: 1px solid #ccc;
			    padding-left: 23px;
			    h1{
			    	font-size: 46px;
				    color: #41CCB4;
				    font-weight: bold;
				    padding-top: 10px;
				    border-left:none;
			    }
			    em{
			    	font-style: normal;
			    }
			    h2{
			    	    margin: 10px 0 10px 0px; font-size: 14px;color: #666; margin-top: 15px; 
			    }
			    .coupon_right{
			    	float: right; position: absolute;right: 0; top: 0;
			    }
			    p a{
			    	text-decoration: underline;color: #999; font-size: 14px;
			    }
			    span{
			    	font-size: 20px;
			    }
			}
			li:hover{
				transform:translate(5px);
				transition: all 0.5s; 
			}
			
			}
		}

		
	}
.laba{
					position: absolute;top: 0;right: 100px;
	.laba_text{
		float: right;
	}
	img{
		float: left;display: inline-block;
	}
}
#coupon-w{
	clear: both;
}
#information-w{
	width: 100%;height: 533px;overflow: hidden; clear: both;
	#information{
		width: 1200px; height: 533px; overflow: hidden;margin: 0 auto;
		.title{
				width: 1200px; height: 51px; position: relative; margin: 20px auto;
				.line{
					width: 1200px; height: 1px; border-bottom: 1px dashed #d7d7d7; position: absolute;top: 25px;
				}
				p{
					background: white;
				    padding: 0 30px;
				    position: absolute;
				    line-height: 36px;
				    font-size: 24px;
				    left: 40%;
				    color: #333;
				    text-align: center;
				}
				span{
					display: inline-block; text-align: center; font-size: 28px; color: #ccc;
				}
		 		margin-bottom: 40px;
		}
		.informantions li{
			float: left;
		    width: 275px;
		    margin-right: 25px;
		    img{
		    	width: 275px;
    			height: 123px;
		    }
		    h1+a{
		    	margin: 15px 0 20px 0;display: inline-block;opacity: 1;
		    }
		    h1+a:hover{
		    	opacity: 0.8
		    }
		    h1{
		    	color: #333;font-size: 14px;font-style: normal;
		    }
		    h2{
		    	color: #666;
			    font-size: 14px;
			    font-weight: normal;
			    font-weight: bold;
    			line-height: 28px;
		    }
		    h2+p{
		    	    line-height: 28px;
		    }
		    h2+p+p{
		    	    line-height: 28px;
		    }
		    a:hover{
		    	 color: #41CCB4;
		    }
		    a{
		    	color: #666;
		    }
		    #ts5{
		    	width: 281px; margin-right: 0;
		    	h1{
		    		padding-bottom: 5px;    color: #333;
		    	}
		    	h1+a{
		    		line-height: 34px;
					    display: inline-block;
					    opacity: 1;

		    	}
		    	a:hover{
		    		opacity: 0.8;color: #41ccb4
		    	}
		    }

		}
	}
}
#ts5 a{
	 line-height: 34px;
		    display: inline-block;
		    opacity: 1;
		    margin: 0;
}
#information-w #information   .informantions #ts5 #a1{
	margin: 0;
}
#view{
	width: 1200px; height: 516px;margin: 0 auto; margin-top: 10px;
	h1{
		
	    font-size: 18px;
	    color: #333;
	    border-left: 3px solid #41CCB4;
	    padding-left: 10px;
	    margin-top: 20px;
	    height: 21px;
	    line-height: 21px;
	    margin-bottom:20px;
	    a{
	    	float: right;
		    width: 60px;
		    text-align: center;
		    height: 19px;
		    line-height: 19px;
		    border: 1px solid #d7d7d7;
		    border-radius: 5px;
		    font-size: 13px;
		    color: #999;
		    margin-right: 1px;
	    }
	}
	ul li{
		width: 230px; height: 234px;float: left; margin-left: 12.5px;overflow: hidden;
		img{
			width: 230px; height: 180px;

		}
		p{
			width: 230px; height: 54px;text-align: center;line-height: 54px;font-size: 14px;
			a{
				color: #666
			}
			a:hover{
				opacity: 0.8;color: #41ccb4
			}
		}
		div{
			width: 230px; height: 180px; overflow: hidden;
		}
	}
	ul li:hover img{
		transform: scale(1.1)
	}

	.view_left li{
		margin-left: 0;
		p{
			font-size: 18px;
			a{
				display: inline;
			}
		}
		a:first-child{
			width: 230px; height: 180px;overflow: hidden;display: inline-block;
		}

	}
	.view_left li:hover img{
		transform: scale(1.1)
	}

}
.shop1{
	margin: 0 auto; width: 1200px; height: 80px;
}
.market{
	width: 1200px; height: 339px;margin: 0 auto; margin-top: 10px;
	h1:first-child{
		
	    font-size: 18px;
	    color: #333;
	    border-left: 3px solid #41CCB4;
	    padding-left: 10px;
	    margin-top: 20px;
	    height: 21px;
	    line-height: 21px;
	    margin-bottom:20px;
	    a{
	    	float: right;
		    width: 60px;
		    text-align: center;
		    height: 19px;
		    line-height: 19px;
		    border: 1px solid #d7d7d7;
		    border-radius: 5px;
		    font-size: 13px;
		    color: #999;
		    margin-right: 1px;
	    }
	}
	li{
		width: 278px; height: 278px; margin-right: 29px;float: left;position: relative;
		img{
			width: 278px; height: 278px;opacity: 1
		}
		img:hover{
			opacity: 0.8
		}
		.yy{
			position: absolute; left: 0; bottom: 0;
			p{
				width: 278px;
			    height: 36px;
			    background: #000;
			    opacity: 0.6;
			}
			h1{
				position: absolute;
			    line-height: 36px;
			    bottom: 0;
			    left: 15px;
			    color: #fff;
			    font-size: 14px;
			    font-style: normal;

			}
		}
	}
	li:last-child{
		margin-right: 0;overflow: hidden;
		p{
			color: #666;
		    font-size: 14px;
		    font-weight: normal;
		    display: block;
		    width: 278px; height: 19px; clear: both;
		}
		.market-left{
			float: left;
		}
		a img{
			width: 64px;
   			 height: 64px; border: 1px solid #ccc; float: left;
		}
		.market-right{
			float: left;width: 175px;margin-left: 10px;
			h1{
				color: #666;
			    font-size: 14px;
			    font-weight: normal;
			    font-family: "微软雅黑";
			    border-left: 0;
			    padding-left: 0;
			    margin-top: 0;
			    height: 14px;
			    line-height: 14px;
			    margin-bottom:0;
			}
			h2{
				font-size: 12px;
			    color: #999;
			    padding: 2px 0 5px 0;
			}
			a{
				width: 50px;
			    text-align: center;
			    height: 22px;
			    line-height: 22px;
			    background: #41CCB4;
			    color: #fff;
			}
		}

	}
}
.join{
	width: 1200px; height: 80px; margin: 0 auto;
}

.show{
	width: 1200px; height: 321px; margin: 0 auto; position: relative;overflow: hidden;
	h1{
		
	    font-size: 18px;
	    color: #333;
	    border-left: 3px solid #41CCB4;
	    padding-left: 10px;
	    margin-top: 20px;
	    height: 21px;
	    line-height: 21px;
	    margin-bottom:20px;
	    a{
	    	float: right;
		    width: 60px;
		    text-align: center;
		    height: 19px;
		    line-height: 19px;
		    border: 1px solid #d7d7d7;
		    border-radius: 5px;
		    font-size: 13px;
		    color: #999;
		    margin-right: 1px;
	    }
	}
	.shows{
		height: 280px;width: 2400px;position: relative; 
		.next,.pre{
		position: absolute;     
		width: 40px;
	    height: 60px;
	    top: 80px;
	    z-index: 1;
	    cursor: pointer;
		}
		.next{
			left: 0;background: url(../images/zuojt.png) no-repeat center;
		}
		.right{
			right: 0;background: url(../images/youjt.png) no-repeat center;
		}
		ul li{
			float: left;margin-right: 25px;
		}
	}
	
}
a:hover{
	color: #41ccb4
}
.link_city{
	width: 1200px; height: 83px;margin: 0 auto;
	h1{
		font-size: 18px;
	    color: #333;
	    border-left: 3px solid #41CCB4;
	    padding-left: 10px;
	    margin-top: 20px;
	    height: 21px;
	    line-height: 21px;
	    margin-bottom:20px;
	}
	a{
		font-size: 12px
	}
	span{
		display: inline-block;
    	width: 56px; height: 31px;
    	padding: 0 10px 15px 10px;
	}


}
.line4{
		width: 100%;
	    height: 1px;
	    background: #e8e8e8;
	    margin: 10px 0 20px 0;
	}
.link{
	width: 1200px; height: 83px;margin: 0 auto;
	h1{
		font-size: 18px;
	    color: #333;
	    border-left: 3px solid #41CCB4;
	    padding-left: 10px;
	    margin-top: 20px;
	    height: 21px;
	    line-height: 21px;
	    margin-bottom:20px;
	    span{
	    	float: right;font-size: 12px; color: #666;padding: 0;
	    }
	}
	a{
		font-size: 12px
	}
	span{
		display: inline-block;
    	padding: 0 10px 15px 10px;
    	color: #666;
    	a{
    		color: #666;
    	}
    	a:hover{
    		color: #41ccb4
    	}
	}

}
.foot-w{
    width: 100%;
    height: 160px;
    background: #333;
    overflow: hidden;
    margin-top: 150px;
}
.foot{
	width: 1200px; margin: 0 auto;   position: relative; 
}

.foot .p1{
	color: #ccc;margin-top: 40px;
    
}
.foot a{
	color: #ccc;margin-top: 40px;
}
.foot a:hover{
	color: #41ccb4
}
.foot span{
	margin: 0 10px;
}
.foot .p2{
	width: auto;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    margin-top: 15px;
}
.foot .p3{
	width: auto;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    margin-top: 15px;
}
.foot div>div{
	float: right; position: absolute; top: 0; right: 120px; color: #999
}
.foot div>.d2{
	right: 0px;
}